.form {
  @apply relative p-[20px] md:p-[30px] mb-3 max-w-lg w-full mx-auto rounded-xl;
  border: 1px solid #ccc;

  &__item {
    @apply mb-8 lg:mb-10;
  }

  &__actions {
    @apply flex items-center justify-between;
  }

  &__btn {
    @apply inline-flex items-center py-2 px-4 text-white bg-blue-600 rounded-lg capitalize;
  }

  select {
    @apply bg-select-bg text-text-color rounded-lg outline-none py-2 px-4 w-full ;
    border: 1px solid #8f8f8f;
  }
}

.inputWrapper {
  @apply w-full h-[50px] relative;

  & input {
    @apply text-text-color w-full bg-transparent rounded-lg h-full pl-14 outline-none;
    border: 1px solid #8f8f8f;
  }

  input:focus {
    border-color: blue;
  }

  &__icon {
    @apply absolute top-[1px] left-[1px] inline-flex justify-center items-center w-[49px] bg-slate-950 rounded-s-lg text-center text-sm text-white;
    height: calc(100% - 2px);

    & svg {
      @apply inline-block w-4 h-4 fill-white;
    }
  }

  & label {
    @apply absolute text-text-color top-1/2 left-16 capitalize text-xs -translate-y-1/2 px-2 transition-all duration-300;
  }

  &__text {
    @apply pt-1 pl-5 text-red-600 text-xs;

    span {
      @apply text-red-600 text-xs;
    }
  }
}

.inputFile {
  label {
    @apply w-full h-12 bg-sky-400 cursor-pointer flex items-center justify-center rounded-lg overflow-hidden relative px-5;
  }
  input[type="file"] {
    @apply absolute top-0 left-0 w-0 h-0 invisible opacity-0;
  }
}

.textarea {
  @apply h-[250px];

  & textarea {
    @apply text-text-color w-full bg-transparent rounded-lg h-full pl-14 resize-none outline-none py-4;
    border: 1px solid #8f8f8f;

    &:focus {
      border-color: var(--text-hover-color);
    }
  }

  & label {
    @apply top-4 translate-y-0;
  }
}

.active {
  & input,
  & textarea {
    border: 1px solid blue;
  }

  & label {
    @apply top-[1px] -translate-y-full text-[8px] z-10 text-blue-500 bg-bg-color;
  }
}
